config {
     // location for all nf-test tests
    testsDir "tests"

    // nf-test directory including temporary files for each test
    workDir ".nf-test"

    // location of an optional nextflow.config file specific for executing tests
    configFile "tests/nextflow.config"

    // run all test with defined profile(s) from the main nextflow.config
    profile "test"

    // run all test with defined profile(s) from the main nextflow.config
    profile "singularity"

    // ignore tests coming from the nf-core/modules repo
    ignore 'modules/nf-core/**/*', 'subworkflows/nf-core/**/*'

    // load the necessary plugins
    plugins {
        load "nft-utils@0.0.3"
    }
}
