config {
    testsDir "tests"

    // Set DEEPUMICALLER_TEST_WORKDIR in your environment to override. Defaults to .nf-test/ in the repo root.
    // Please, set to /scratch/bbg/work/deepUMIcaller/nf-tests in IRB cluster
    workDir System.getenv("DEEPUMICALLER_TEST_WORKDIR") ?: ".nf-test"

    configFile "tests/nextflow.config"

    // Activate test and singularity profiles while testing
    profile "test,singularity"

    // nf-core community modules have their own CI
    ignore 'modules/nf-core/**/*', 'subworkflows/nf-core/**/*'

    // load the necessary plugins
    plugins {
        load "nft-utils@0.0.3"
    }
}
