// This configuration file is used to define the general parameters for the pipeline when ran in IRBCluster
params {

    vep_cache               = "/data/bbg/datasets/vep"

    // Fasta references
    ref_fasta               = '/data/bbg/datasets/genomes/GRCh38/clean_n_fixed_genome/GCA_000001405.15_GRCh38_no_alt_analysis_set.masked.fna'

    low_complex_file        = "/data/bbg/datasets/genomes/GRCh38/masking_bedfiles/hg38_lowcomplexity_repetitive_regions.mutcoords.bed"
    low_mappability_file    = "/data/bbg/datasets/genomes/GRCh38/masking_bedfiles/blacklist/GRCh38.encode.blacklist.bed"

    global_exons_file       = '/data/bbg/datasets/prominent/metadata/regions/data/seq_panels/xgen-exome-hyb-panel-v2-targets-hg38.bed'

}


// Define the cacheDir for the singularity images
singularity.cacheDir    = '/data/bbg/datasets/pipelines/nextflow_containers'
singularity.libraryDir  = '/data/bbg/datasets/pipelines/nextflow_containers'
