/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*FASTQC" {
        ext.args = '--quiet'
    }

    withName: 'ENSEMBLVEP_DOWNLOAD' {
        ext.args         = '--AUTO c --CONVERT --NO_BIOPERL --NO_HTSLIB --NO_TEST --NO_UPDATE'
        publishDir       = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/cache/" }
        ]
    }

    withName: 'FASTQTOBAM' {
        publishDir       = [
                enabled : false
        ]
    }

    withName: FASTP {
        ext.args = [ "",
                    params.trim_adapters           ?: "--disable_adapter_trimming",
                    params.three_prime_clip_r1 > 0 ? "--trim_tail1 ${params.three_prime_clip_r1}" : "", // Remove bp from the 3' end of read 1 AFTER adapter/quality trimming has been performed
                    params.three_prime_clip_r2 > 0 ? "--trim_tail2 ${params.three_prime_clip_r2}" : "", // Remove bp from the 3' end of read 2 AFTER adapter/quality trimming has been performed
                    params.trim_nextseq            ? "--trim_poly_g"                              : "", // Apply the --nextseq=X option, to trim based on quality after removing poly-G tails
                ].join(" ").trim()
        publishDir       = [
                enabled : false
        ]
    }
    
    withName: 'ALIGN.*BAM' {
        ext.bwa_args         = { "-5 -L 1,1 -K 100000000" }
        publishDir       = [
                enabled : false
        ]
    }

    withName: 'TRIMBAM' {
        publishDir       = [
                enabled : false
        ]
    }
    
    withName: 'SORTBAM.*' {
        ext.prefix       = { "${meta.id}.sorted" }
        ext.args         = " --write-index"
    }
    withName: 'SORTBAM|SORTBAMDUPLEX' {
        publishDir       = [
                enabled : false
        ]
    }
    withName: 'SORTBAMCLEAN' {
        ext.prefix       = { "${meta.id}.sorted" }
        ext.args         = " --template-coordinate --write-index"
    }
    withName: 'ASMINUSXS.*' {
        publishDir       = [
                enabled : false
        ]
        ext.prefix       = { "${meta.id}.filtered.AS-XS_${params.asminusxs_thres}" }
        ext.threshold    = "${params.asminusxs_thres}"
    }
    withName: 'SAMTOOLSFILTER.*' {
        publishDir       = [
                enabled : false
        ]
        ext.prefix       = { "${meta.id}.filtered.AS-XS_${params.asminusxs_thres}.0x2" }
        ext.args         = "-b -h --require-flags 0x2 --exclude-flags 0x900"
    }
    withName: "DEEPUMICALLER:BAM_FILTER_READS:SORTBAMFIXED" {
        publishDir       = [
                enabled : false
        ]
    }

    withName: "DEEPUMICALLER:BAM_FILTER_READS:FGSELECTREADS" {
        ext.samtools_args  = "-F 0x4 -F 0x8"
        publishDir         = [
                enabled : false
        ]
    }
    withName: "DEEPUMICALLER:BAM_FILTER_READS:FILTERBAM" {
        ext.args         = "--output-fmt bam \
                            --with-header"
        ext.prefix       = { "${meta.id}.region_filtered" } 
        publishDir       = [
                enabled : false
        ]
    }
    
    withName: 'QUALIMAPQC.*' {
        ext.args         = "--paint-chromosome-limits --genome-gc-distr HUMAN --skip-dup-mode 0 -outformat HTML"
    }
    withName: 'QUALIMAPQCHIGH' {
        ext.prefix       = { "${meta.id}.high" }
    }

    withName: 'COMPUTEDEPTH.*' {
        ext.args         = "-b ${params.targetsfile}"
    }

    if (params.duplex_seq){
        withName: GROUPREADSBYUMIDUPLEX {
            ext.args = "--edits ${params.groupreadsbyumi_edits} \
                        --min-map-q ${params.groupreadsbyumi_min_map_q}"
            publishDir       = [
                    enabled : false
            ]
        }

        withName: CALLDUPLEXCONSENSUSREADS {
            ext.args = "--min-reads ${params.call_min_reads_duplex} \
                        --min-input-base-quality ${params.call_min_baseq} \
                        --consensus-call-overlapping-bases true"
            publishDir       = [
                    enabled : false
            ]
        }
    }

    if (params.umi_only){
        withName: GROUPREADSBYUMI {
            ext.args = "--edits ${params.groupreadsbyumi_edits} \
                        --min-map-q ${params.groupreadsbyumi_min_map_q}"
            publishDir       = [
                    enabled : false
            ]
        }

        withName: CALLMOLECULARCONSENSUSREADS {
            ext.args = "--min-reads ${params.call_min_reads} \
                        --min-input-base-quality ${params.call_min_baseq} \
                        --consensus-call-overlapping-bases true"
            publishDir       = [
                    enabled : false
            ]
        }
    }

    withName: COLLECTDUPLEXSEQMETRICS {
        ext.args = "--duplex-umi-counts=true"
    }

    withName: 'CLIPBAM.*' {
        ext.args         = "--clipping-mode Hard \
                            --clip-overlapping-reads true \
                            --clip-bases-past-mate true \
                            --auto-clip-attributes true"
        publishDir       = [
                enabled : false
        ]
    }
    
    withName: 'FILTERCONSENSUSREADSHIGH' {
        ext.fgbio_args      = " --min-reads ${params.filter_min_reads_high} \
                                --min-base-quality ${params.filter_min_baseq_high} \
                                --max-base-error-rate ${params.filter_max_base_error_rate_high} \
                                --max-no-call-fraction ${params.maxN_prop_per_read} \
                                --require-single-strand-agreement ${params.filter_strand_agreement}"
        publishDir       = [
                enabled : false
        ]
    }

    withName: 'FILTERCONSENSUSREADSMED' {
        ext.fgbio_args      = " --min-reads ${params.filter_min_reads_med} \
                                --min-base-quality ${params.filter_min_baseq_med} \
                                --max-base-error-rate ${params.filter_max_base_error_rate_med} \
                                --max-no-call-fraction ${params.maxN_prop_per_read} \
                                --require-single-strand-agreement ${params.filter_strand_agreement}"
        publishDir       = [
                enabled : false
        ]
    }


    // not filtering for double strand agreement
    withName: 'FILTERCONSENSUSREADSLOW' {
        ext.fgbio_args      = " --min-reads ${params.filter_min_reads_low} \
                                --min-base-quality ${params.filter_min_baseq_low} \
                                --max-base-error-rate ${params.filter_max_base_error_rate_low} \
                                --max-no-call-fraction ${params.maxN_prop_per_read}"
        publishDir       = [
                enabled : false
        ]
    }

    withName: 'CALLINGVARDICT.*' {
        ext.args         = " -f 0.0 \
                            -r 1 -m 9999 -P 0 \
                            -p -z 1 -o 0.5 -L 100"
        ext.filter_args  = " -A -E -f 0.0 -p 0 -m 20 -v 2"
    }

    withName: "DEEPUMICALLER:VCFANNOTATEHIGH:.*:.*" {
            ext.prefix       = { "${meta.id}.high" }
    }
    
    withName: "DEEPUMICALLER:VCFANNOTATEMED:.*:.*" {
            ext.prefix       = { "${meta.id}.med" }
    }

    withName: "DEEPUMICALLER:VCFANNOTATELOW:.*:.*" {
            ext.prefix       = { "${meta.id}.low" }
    }

    withName: "DEEPUMICALLER:RECOUNTMUTSHIGH:.*" {
            errorStrategy = 'ignore'
            ext.prefix       = { "${meta.id}.high" }
    }

    withName: "DEEPUMICALLER:RECOUNTMUTSMED:.*" {
            errorStrategy = 'ignore'
            ext.prefix       = { "${meta.id}.med" }
    }

    withName: "DEEPUMICALLER:RECOUNTMUTSLOW:.*" {
            errorStrategy = 'ignore'
            ext.prefix       = { "${meta.id}.low" }
    }

    withName: "DEEPUMICALLER:RECOUNTMUTS.*:READJUSTREGIONS" {
        errorStrategy = 'ignore'
        ext.amplify   = 2
    }

    withName: "DEEPUMICALLER:RECOUNTMUTS.*:PILEUPBAM" {
        errorStrategy = 'ignore'
        ext.args         = "--no-BAQ \
                            --max-depth 0 \
                            --min-BQ 2 \
                            --no-output-ends \
                            --output-extra QNAME"
    }

    withName: "DEEPUMICALLER:RECOUNTMUTS.*:FILTERLOWCOMPLEX" {
        errorStrategy = 'ignore'
        ext.low_complex = "${params.low_complex_file}"
    }
    withName: "DEEPUMICALLER:RECOUNTMUTS.*:FILTERLOWMAPPABLE" {
        errorStrategy = 'ignore'
        ext.low_mappable = "${params.low_mappability_file}"
    }


    withName: 'ENSEMBLVEP_VEP' {
        ext.args         = { [
            "${params.vep_params}",
            (params.vep_out_format)   ? "--${params.vep_out_format}"  : '--tab'
            ].join(' ').trim() }
        
        // If just VEP: <vcf prefix>_VEP.ann.vcf
        // ext.prefix       = { "${vcf.baseName.minus(".vcf")}_VEP.ann" }
        if (!params.vep_cache && !params.download_cache)    container = { params.vep_genome ? "nfcore/vep:${params.vep_version}.${params.vep_genome}" : "nfcore/vep:${params.vep_version}.${params.genome}" }
        publishDir       = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/annotation/${meta.id}/" },
                pattern: "*{gz}"
            ]
        ]
    }

    withName: 'SIGPROFPLOT.*' {
        ext.args      = ""
        ext.prefix = "${params.projectname}"
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }


//    withName: "FASTQC|.*METRICS.*|QUALIMAPQC.*|COMPUTEDEPTH.*|SIGPROFPLOT.*|DEEPUMICALLER:RECOUNTMUTSLOW:.*" {
//        errorStrategy = { task.exitStatus in [143,137,104,134,139,140] ? 'retry' : 'ignore' }
//    }


}
